@import (reference) "darkmode";

.make-team-flair-dark(@name) {
	@selector: ~".flair-@{name}";
	@{selector} {
		&::before {
			background-color: @color-white;
		}
	}
}

@{darkmode-selector}, @{nightmode-selector} {
	.make-team-flair-dark("00");	// TSM
	.make-team-flair-dark("01");	// CLG
	.make-team-flair-dark("env");   // Envy
	.make-team-flair-dark("15");	// Origen
	.make-team-flair-dark("35");	// Invictus Gaming
	.make-team-flair-dark("nwb");	// Newbee
	.make-team-flair-dark("jtm");   // J Team
	.make-team-flair-dark("O5");   // Legacy eSports
	.make-team-flair-dark("x5");   // Exile5
	.make-team-flair-dark("nox");   // Albus Nox
	
	.thing {
		&.linkflair-other {
			.linkflairlabel {
				color: @color-gray;
			}
		}
	}
}