/****************
* Reddit values *
****************/

@spacer-margin-top: 7px;
@spacer-margin-bottom: 12px;

/***************
* Construction *
***************/

@content-padding: 10px;
@search-padding: 6px;

// Widths
@side-width: 300px;
@side-border-space: 1px;

@content-padding-total: @content-padding * 2;
@consumed-content-width: @side-width + @side-border-space + @content-padding-total * 2;
@content-width: calc(~"100% - @{consumed-content-width}");
@tabs-width: calc(~"100% - @{content-padding-total}");

@search-width: @side-width - @search-padding * 2;

// Heights
@srbar-height: 18px;
@header-height: 150px;
@tabs-height: 40px;

@search-height: @tabs-height - @search-padding * 2;

// Positions
@tabs-top: @srbar-height + @header-height;

/********
* Style *
********/

// Images
@promo-img: "images/promo.jpg";
@arrow-img: "images/arrows_top.png";

// Fonts
@header-font-family: "Helvetica","Arial",sans-serif;

// General
@font-family: arial,sans-serif;
@transition-time: 0.15s;

//@color-blue: rgb(0, 150, 255);
@color-blue: rgb(0, 130, 240);
@color-dark-gray: rgb(22, 22, 22);
@color-gray: lighten(@color-dark-gray, 8%);
@color-light-gray: rgb(150, 150, 150);
@color-white: rgb(246, 246, 246);
@color-superwhite: rgb(252, 252, 252);
@color-black: rgb(5, 5, 5);

// Background
@bg-color: @color-dark-gray;
@bg-pos: 0 @srbar-height;
@bg-size: 100%;
@bg-dynamic: false;

// Subreddit bar
@srbar-bg: @color-dark-gray;
@srbar-border: @color-gray;
@srbar-color: @color-light-gray;
@srbar-alt-color: @color-blue;

// Tab bar
@tabs-bg: @color-dark-gray;
@tabs-color: @color-light-gray;
@tabs-selected-color: @color-white;

// Content
@content-bg: @color-white;
@content-border-color: @color-gray;

@content-shadow-color: fade(black, 40%);

@content-text-bg: @color-superwhite;
@content-text-border: @color-light-gray;

@report-color: rgb(240, 100, 100);

@moderator-color: rgb(34, 136, 34);
@submitter-color: rgb(0, 85, 223);
@admin-color: red;

@downvote-opacity: 0.5;

// Links
@link-color: @color-blue;
@link-hover-color: lighten(@link-color, 10%);
@link-visited-color: darken(@color-light-gray, 10%);

@sticky-color: @color-dark-gray;
@sticky-hover-color: lighten(@sticky-color, 10%);
@sticky-visited-color: @sticky-color;

// Comments
@comment-lvl1-bg: @content-text-bg;
@comment-lvl2-bg: @color-white;

@comment-border: lighten(@color-light-gray, 20%);
@comment-hover-border: @color-light-gray;

// Sidebar
@side-bg: @color-black;
@side-border-color: @color-gray;
@side-color: @color-light-gray;
@side-highlight-color: @color-white;
@side-padding: 8px;

@side-header-bg: @color-dark-gray;
@side-header-color: lighten(@color-light-gray, 20%);
@side-header-size: 24px;
@side-header-height: 1.5em;

@side-md-top-margin: @side-padding + 6px;

@side-field-bg: @side-bg;
@side-field-border: lighten(@side-field-bg, 10%);
@side-field-color: @color-light-gray;

// Submit buttons
//@submit-bg: rgb(85, 54, 33);
//@submit-color: rgb(202, 181, 162);
@submit-bg: @color-gray;
@submit-border: @submit-bg;
@submit-color: @color-white;
@submit-hover-border: @color-blue;
@submit-hover-color: @color-blue;

// Announcments
@announce-bg: @events-bg-alt;
@announce-bg-hover: @events-bg-hover;
@announce-color-hover: @color-white;

@announce-border-color: @side-border-color;

// Events
@events-bg: @color-black;
@events-bg-alt: lighten(@events-bg, 2%);
@events-bg-hover: lighten(@events-bg, 8%);

@events-color: @color-light-gray;
@events-link-color: @color-blue;

// Mod stuff
@mod-remove-bg: rgb(206, 238, 252);
//@mod-buttons-color: rgb(170, 170, 170);
@mod-remove-color: rgb(240, 100, 100);
@mod-approve-color: rgb(100, 220, 100);

// Modes
@np-bg: rgb(160, 0, 0);
@np-color: @color-white;
@np-font-size: 14px;

/*******
* Text *
*******/

@side-user-text: "Challenger players";
@side-online-text: "losing LP";

@downvote-message: "off-topic or does not contribute to discussion";
@no-results-message: "there don't seem to be any friends here";
@spoilers-message: "Hidden for spoilers";

@submit-flood-warning: "Submissions are temporarily disabled to prevent excessive flooding.";
@submit-rules-warning: "Please read subreddit rules before posting. Subscribe or hover to dismiss.";

@submit-type-select-message: "Remember to choose the correct post type!";
@submit-type-select-link-message: "Images must NOT be submitted as links.";
@submit-text-message: "You are submitting a text-based post. A title is required, but expanding further in the text field is not. Including 'upvote if' or 'don't upvote' is violation of Bandle City law.";

@np-message: "The usage of No Participation (NP) links is not endorsed on this subreddit, and they do not magically prevent bans for mass voting. Please read the rules and encourage others to read the rules to prevent issues accompaning vote manipulation.";

/********************
* Media query stuff *
********************/

@screen-lg: 1200px;
@screen-md: 992px;
