@import (reference) "style";

// General



// Content

@dark-content-bg: fade(@color-black, 95%);
@dark-content-text-bg: lighten(@color-black, 2%);
@dark-content-text-border: @color-dark-gray;
@dark-content-text-color: @color-white;

@dark-link-color: lighten(@color-gray, 10%);
@dark-sticky-color: @color-white;

@dark-comment-lvl1-bg: @dark-content-text-bg;
@dark-comment-lvl2-bg: @color-black;
@dark-comment-border: @dark-content-text-border;
@dark-comment-hover-border: lighten(@dark-content-text-border, 10%);
